{% extends 'base.html' %} {% block head %}
<title>3beats</title>
{% endblock %} {% block body %}
<!-- hero Section -->
<section
  class="relative h-screen grid place-items-center py-16 overflow-x-hidden md:bg-gray-100"
  id="hero"
>
  <!--  <div class="absolute w-full h-full md:hidden music-bg"></div>-->
  <div class="absolute w-full h-full opacity-60 md:hidden z-10">
    <img
      src="static/img/spotify.png"
      class="absolute top-32 right-9 w-2/12 floating-1"
    />
    <img
      src="static/img/music.png"
      class="absolute bottom-36 left-10 w-2/12 floating-2"
    />
    <img
      src="static/img/music-note.png"
      class="absolute bottom-20 -right-4 w-1/5 floating"
    />
  </div>
  <div class="hidden absolute right-0 h-full md:block">
    <img
      src="{{ url_for('static', filename='img/woman.png') }}"
      class="w-full h-full"
      alt=""
    />
  </div>
  <div class="p-5 mr-auto text-black z-20 md:w-3/5">
    <h1 class="text-3xl font-bold my-2">Find Your Jam, Instantly!</h1>
    <p class="text-xl">Search and download your favorite tunes now</p>
    <div class="mt-10">
      <form
        class="py-5 rounded-2xl px-3 bg-white shadow-lg md:rounded-full"
        action="/"
        method="POST"
      >
        <div class="flex gap-3 justify-between flex-col md:flex-row">
          <div class="w-full ml-2">
            <label class="block text-gray-400 font-bold text-sm"
              >Search Artist, Song title, Album</label
            >
            <input
              type="text"
              name="search_music"
              class="inline-block w-full text-black bg-transparent outline-none border-b-2 py-2 focus:border-color3"
            />
          </div>

          <input
            type="submit"
            value="SEARCH"
            class="bg-color3 text-white py-2 px-4 rounded-full my-auto cursor-pointer"
          />
        </div>
      </form>
    </div>
  </div>
</section>
<!-- Search Section -->
<section id="search-section">
  <div class="p-5 md:p-10">
    {% if music_query %}
    <div class="search-header">
      <h2 class="text-2xl font-bold">
        Results
        <span>for `{{ music_query }}`</span>
      </h2>
    </div>
    <!-- Divider -->
    <div class="rounded-lg w-full h-0.5 bg-gray-200 mx-auto"></div>
    <div
      class="search-body grid gap-10 grid-cols-1 my-5 md:grid-cols-3"
      id="video-list"
    >
      <!-- Result -->
      {% for item in data %}
      <div
        class="relative result animate__animated animate__bounceIn flex gap-4 result shadow-1 p-2 rounded-md my-auto"
      >
        <a
          href="{{item.thumbnail.thumbnails[0].url}}"
          target="_blank"
          class="absolute py-1 px-2 -right-2 -top-3 rounded-xl bg-color3 text-white"
          download
        >
          <i class="uil uil-image"></i>
        </a>
        <img
          src="{{item.thumbnail.thumbnails[0].url}}"
          class="w-2/5 my-auto"
          id="thumbnail"
          alt=""
        />
        <div class="w-3/5">
          <span class="block font-bold my-2">{{item.title.runs[0].text}}</span>
          <div class="action">
            <div class="action-buttons">
              <a
                href="{{url_for('audio_downloader', video_id=item.videoId)}}"
                target="_blank"
                class="block w-full text-white text-center bg-color3 py-1 px-4 rounded-2xl"
                >Download <i class="uil uil-arrow-to-bottom"></i>
              </a>
              <!-- <a
                href="{{url_for('video_downloader', video_id=item.videoId)}}"
                target="_blank"
                class="inline-block text-white bg-color3 py-1 px-4 rounded-sm"
                >Video <i class="uil uil-video text-xl"></i>
              </a> -->
            </div>
          </div>
          <div class="flex justify-center gap-3 video_data mt-2">
            <span class="font-bold text-color3"
              ><i class="uil uil-clock"></i>
              {{item.lengthText.simpleText}}</span
            >
            <p class="font-bold text-color3">
              <i class="uil uil-eye font-bold"></i>
              <span class="view_count">{{item.viewCountText.simpleText}}</span>M
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% elif error_msg %}
    <div class="error-div text-center">
      <img
        src="{{url_for('static', filename='img/error-search.png')}}"
        class="animate__animated animate__bounceIn w-2/12 mx-auto"
      />
      <h2 class="animate__animated animate__bounceIn text-xl mt-2">
        Search Parameter Error
      </h2>
      <p
        class="animate__animated animate__bounceIn text-gray-500 w-4/5 mx-auto md:w-3/5"
      >
        An issue was encountered while processing your search query. Kindly
        consider refining your input, and attempt an alternative search. We
        apologize for any inconvenience and appreciate your understanding.
      </p>
    </div>
    {% endif %}
  </div>
</section>
<!--<script src="{{url_for('static', filename='js/async.js')}}"></script>-->
{% endblock %} {% set active_page = 'home' %}
