{% extends 'base.html' %} {% block head %}
<title>Video</title>
{% endblock %} {% block body %}
<main class="relative">
  <!-- Overlay -->
  <div class="absolute w-full h-full bg-color1 opacity-40"></div>
  <!-- Gradient Animation -->
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  <!-- Video Data and Downlaod Section -->
  <section class="relative z-20">
    <div class="py-24 text-white flex flex-col justify-center">
      <div class="p-3 md:w-3/5 mx-auto">
        <div class="w-full">
          <img
            src="{{video_data.thumbnail_url}}"
            class="w-full h-full"
            alt="thumbnail"
          />
        </div>
        <div class="my-3">
          <h1 class="text-3xl font-bold">
            {{video_data.title | default("Default Title")}}
          </h1>
          <div class="video-quality flex gap-2">
            <span class="text-xl font-bold my-auto">Quality:</span>
            <div class="flex gap-2 my-auto">
              {% for res in resolutions %}
              <span>{{res}}</span>
              {%endfor%}
            </div>
          </div>
          <h2 class="source flex gap-2">
            <span class="text-xl font-bold my-auto">Source:</span>
            <a href="{{youtube_url}}" class="my-auto" target="_blank"
              >{{youtube_url}}</a
            >
          </h2>
          <div class="download-links mt-3">
            <span class="block text-xl font-bold">Download Links</span>
            <div class="flex gap-3 flex-wrap">
              <form action="/download" method="POST" id="form_download">
                {% for resolution in resolutions %}
                <button
                  type="button"
                  class="res_btn bg-color3 text-white rounded-md px-2 py-1"
                  name="resolution"
                  value="{{ resolution }}"
                  onclick="downloadFile(this)"
                >
                  <i class="uil uil-import"></i> Download {{resolution}}
                </button>
                {% endfor %}
                <input
                  type="hidden"
                  id="youtube_url"
                  name="youtube_url"
                  value="{{youtube_url}}"
                />
              </form>
            </div>
          </div>
          <!-- Download Waiting -->
          <div
            class="hidden animate__animated animate__bounceIn mt-3 text-center bg-white p-4 rounded-2xl"
            id="loader_div"
          >
            <!-- Loader -->
            <img
              src="{{url_for('static', filename='img/loader.gif')}}"
              class="mx-auto"
              id="loader_gif"
            />
            <span class="text-xl font-bold text-black" id="downloading"
              >Fetching video data, please be patient.</span
            >
            <a
              href="{{link}}"
              class="hidden block bg-color2 text-white px-3 py-1 rounded-md bold"
              id="download_link"
              download
              >Download video</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script src="{{url_for('static', filename='js/video_download.js')}}"></script>
{% endblock %} {% set active_page = 'video_download' %}
